










<!DOCTYPE html>
<html>
<head>
	<title> 桔叶地推官网 - 地推o2o </title>
	{% include 'contents/ditui_resource.html' %}
</head>

<body>
	<header>
		<div class="headerCenter">
			<div class="headerLeft">
				您好, <span>  
                  	桔叶营销 
                  	  欢迎您!
			            <a href="/login"> 登录 </a>
						<a href="/register"> 注册 </a>
					
				</span> <a href="/help?ref=common"> 安全保障 </a>
			</div>
			<div class="headerRight">
				<span> 客服热线： 18310704431</span> <span class="wechat">微信 <img
					class="wximg" src="/static/img/juyeyingxiao.jpg"
					width="246" height="239" />
				<!-- </span> <span class="weibo">微博 <a
					href="http://weibo.com/p/1006065624993125/home?from=page_100606&mod=TAB#place"
					target="_blank"> <img class="wbimg"
						src="https://www.zhugelicai.com/resources/img/weibo_03.png" />
				</a>
				</span> -->
			</div>
		</div>
	</header>
	<!--导航栏-->
	<div class="nav">
		<div class="navcont navlist">
			<!-- <a href="/index"><div class="navlogo" title="桔叶营销Logo"></div></a> -->
			<div>
				<ul>
					<a href="/index"><li class="selectNavBut" id="index">首页</li></a>
					<!-- <a href="/products"><li class="navbut" id="products">我要理财</li></a> -->
					<li class="navbut dropdown" id="product">产品介绍 <span
						class="caret"></span>
						<ul class="dropmenu" aria-labelledby="dLabel">
							<a href="/product"><li class="horn">公众号精准营销 <img src="https://www.zhugelicai.com/resources/img/jiao.png" /></li></a>
							<a href="/product?type=daccount"><li>网站注册精准营销</li></a>
							<a href="/product?type=maccount"><li class="ylbbor">APP注册精准营销</li></a>
						</ul>
					</li>
					<!-- <a href="/user/account"><li class="navbut" id="account">我的账户</li></a> -->
					<a href="/help"><li class="navbut" id="help">安全与指南</li></a>
					<a href="/about"><li class="navbut" id="about">关于我们</li></a>
				</ul>
			</div>
		</div>
	</div>


	<!-- 从被装饰页面获取body标签内容 -->
	
		<div id="main">
			<!--轮播图-->
			<div class="row-fluid" style="position:relative;">
				<div class="span12">
					<div class="carousel slide" id="carousel-155461" data-ride="carousel">
				 		<div class="banner_content">
				            <div class="tips">
				                <p></p><span class="blue">14.5%</span>
				                <p>个人账户<span class="red">零</span>风险</p>
				                <p>注册即送<span class="blue">5000</span>元特权本金</p>
					             
					                <a class="regist btnActiveRed" href="/register">立即注册</a>
					                <a class="login" href="/login">马上登录</a>
		     					 
					             
				            </div>
				        </div>
						<ol class="carousel-indicators">
							<li class="active" data-slide-to="0" data-target="#carousel-155461"></li>
							<li data-slide-to="1" data-target="#carousel-155461"></li>
							<li data-slide-to="2" data-target="#carousel-155461"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item item1 active">
								<!-- <img alt="" src="https://www.zhugelicai.com/resources/img/banner1.png" /> -->
							</div>
							<div class="item item2">
								<!--<img alt="" src="https://www.zhugelicai.com/resources/img/banner2.png" /> -->
							</div>
							<div class="item item3">
								<!--<img alt="" src="https://www.zhugelicai.com/resources/img/banner3.png" /> -->
							</div>
						</div>
						<a data-slide="prev" href="#carousel-155461"
							class="left carousel-control">‹</a> <a data-slide="next"
							href="#carousel-155461" class="right carousel-control">›</a>
					</div>
				</div>
			</div>
			<!--轮播图end-->
	
			<!--公告-->
			 <div class="box">
				<div class="bcon">
			 	<div class="notice">最新公告：</div>
					<div class="list_lh">
						<ul>
<!--
							<li>
								 <span><a href="/systemNotice?ref=systemNotice_one">诸葛理财签到抽奖功能上线公告!</a></span>
							</li>
-->
							<li>
								 <span><a href="/systemNotice?ref=kickoff">🍊营销隆重上线啦!</a></span>
							</li>
							<li>
								 <span><a href="/systemNotice?ref=systemNotice_one">桔叶营销签到抽奖功能上线公告!</a></span>
							</li>
						</ul>
					</div> 
					<div class="more">
						<a href="/systemNoticeList" class="more">更多...</a>
					</div>
				</div>
			</div> 
			<!--公告end-->
			
			<div id="target">
				<div class="novice backw">
					
						<div class="noviceLeft xsbbj">
							<div class="pag xsbbq"></div>
							<h2>新用户特权</h2>
							<span>“新手宝”是诸葛理财基于“日利宝”开发的、只针对新注册用户开放的全新理财产品。</span>
						</div>
						<div class="noviceRight">
							<div class="novtop rightTop">
								<h3>新手宝</h3>
								<!-- <span><span>零</span>元享收益，快抢！</span> -->

								<div class="novlist">
									<ul>
										<li><span class="explain">年化收益</span> <span class="nhsy">7.5%+3.0%</span></li>
										<li><span class="explain">期限</span> <span>60天</span></li>
										<li><span class="explain">投资门槛</span> <span>1元</span></li>
									</ul>
								</div>
								<a href='/user/product/newBid'>
									<button  class="btn btn-default red top btnActiveRed">立即投资</button>
								</a>
							</div>
							<div class="novbottom  rightTop">
								<h3>特权本金</h3>
								<!--<span><span>新手</span>专享！</span> -->
								<div class="novlist">
									<ul>
										<li><span class="explain">特权本金</span> <span>5000元</span></li>
										<li><span class="explain">有效期</span> <span>5天</span></li>
										<li></li>
									</ul>
								</div>
								
									<a href="/login">
										<button  class="btn btn-default blue btnActiveBlue">立即领取</button>
									</a>
								
								
							</div>
						</div>
					
					<!-- 登录以后 -->
					
				<!-- 登录以后end -->
				</div>
				<div class="zgdata">
					<div class="dateTitle">桔叶数据<span>截止今日</span></div>
					<ul>
						<li>入驻商户:<span>8,075,879人</span></li>
						<li>营销量:<span>3,509,000,000个</span></li>
						<li>为商户创造收益:<span>1,109,900,000元</span></li>
						<li>累计为用户创造收益:<span>391,980,812元</span></li>
					</ul>
				</div>
			</div>
			<!-- 登录以后end -->
			
			<!--日利宝-->
			<div class="itemBox">
				<div class="novice zgbd">
					<div class="noviceTop novbd novrlb">
						<h3>日利宝
							<span>诸葛理财针对活期理财用户开发的一款理财产品</span>
						</h3>
					</div>
					<div class="novbot">
						<div class="novlist">
							<ul>
								<li><span class="explain">年化收益</span> <span class="nhsy">7.5%</span></li>
								<li><span class="explain">起投限额</span> <span>100元</span></li>
								<li><span class="explain">取现类型</span> <span>随存随取</span></li>
								<li class="spe"><span class="explain">投资进度</span> 
								<span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 91.19%;">
										</div>
									</div> 
									<span class="complete">91.19%</span>
								</span>
								</li>
							</ul>
						</div>
						<a href="/user/product/latestDayBid">
							<button  class="btn btn-default red btnActiveRed">立即投资</button>
						</a>
					</div>
				</div>
				
				<div class="tzph">
					<div class="phbtitle">日利宝投资累计排行</div>
					<ul>
						<li class="one">151****3876<span>¥6,879,900</span>
						</li>
						<li class="two">136****6731<span>¥6,539,100</span>
						</li>
						<li class="three">189****7040<span>¥5,890,300</span>
						</li>
					</ul>
				</div>
			</div>
			<!--日利宝end-->
			<!--月利宝-->
			<div class="itemBox">
				<div class="novice zgbd">
					<div class="noviceTop novbd novylb">
						<h3>月利宝
							<span>诸葛理财针对短期理财用户开发的一款理财产品</span>
						</h3>
					</div>
					<div class="novbot">
						<div class="novlist">
							<ul>
								<li><span class="explain">递增年化收益</span> <span class="nhsy">7.5%~14.5%</span></li>
								<li><span class="explain">起投限额</span> <span>100元</span></li>
								<li><span class="explain">取现类型</span> <span>每月可取</span></li>
								<li class="spe"><span class="explain">投资进度</span> 
								<span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 43.18%;">
										</div>
									</div> 
									<span class="complete">43.18%</span>
								</span>
								</li>
							</ul>
						</div>
						<a href="/user/product/latestMonthBid">
							<button  class="btn btn-default red btnActiveRed">立即投资</button>
						</a>
					</div>
				</div>
				<div class="tzph">
					<div class="phbtitle">月利宝投资累计排行</div>
					<ul>
						<li class="one">189****0761<span>¥5,982,900</span>
						</li>
						<li class="two">136****5133<span>¥5,631,100</span>
						</li>
						<li class="three">159****7513<span>¥5,490,100</span>
						</li>
					</ul>
				</div>
			</div>
			<!--月利宝end-->
			<!--icon-->
			<div id="icon">
				<ul>
					<li><img src="https://www.zhugelicai.com/resources/img/icon_1.png" />

						<p class="iconnum">最高收益</p>

						<p>最高收益率14.5%</p></li>
					<li><img src="https://www.zhugelicai.com/resources/img/icon_2.png" />

						<p class="iconnum">更低风险</p>

						<p>个人账户零风险</p></li>
					<li><img src="https://www.zhugelicai.com/resources/img/icon_3.png" />

						<p class="iconnum">更多合作</p>

						<p>60余家合作机构</p></li>
					<li><img src="https://www.zhugelicai.com/resources/img/icon_4.png" />

						<p class="iconnum">更强股东</p>

						<p>数家上市公司领投</p></li>
					<li><img src="https://www.zhugelicai.com/resources/img/icon_5.png" />

						<p class="iconnum">更多活动</p>

						<p>注册送5000元特权本金</p></li>
				</ul>
			</div>
			<!--iconend-->
			<!--媒体报道-->
			<div id="mtbd">
				<div class="mttitle">
					<div class="newsTitle" style="padding-left: 100px;">媒体报道 <a href="/about?ref=media" class="more">更多...</a></div>
						<div class="news">
							<div class="newimg"><img src="https://www.zhugelicai.com/resources/img/cctv.png" /></div>
							<div class="newText">
								<div class="textTitle">经济遇延迟退休，个人理财路在何方？</div>
								<div class="newCont">
									GDP六年来首次跌破7%，标志着经济下行时代已然到来。如何才能从根本上改变“你不理财，财不理你；你若理财，财便离你而去”这样中国百姓无比尴尬无奈而又普遍的“理财特烦恼”现状？
									<a href="http://yueyu.cntv.cn/2015/10/27/ARTI1445914305292374.shtml" class="newMore"  target="_blank">[更多]</a>
								</div>
							</div>
						</div>
						<div class="news">
							<div class="newimg"><img src="https://www.zhugelicai.com/resources/img/ifeng.png" /></div>
							<div class="newText">
								<div class="textTitle">互联网金融：仅靠烧钱，难成大事</div>
								<div class="newCont">
									随着互联网金融的大热，跑马圈地已成为一个趋势，某些业务发展较快、上升势头较好的平台，推广费用还要远远大于这个数字，那么仅靠烧钱能不能烧出下一个BAT？
									<a href="http://news.ifeng.com/a/20151012/44821030_0.shtml" class="newMore"   target="_blank">[更多]</a>
								</div>
							</div>
						</div>
						<div class="news">
							<div class="newimg"><img src="https://www.zhugelicai.com/resources/img/sh.png?v=20151032" /></div>
							<div class="newText">
								<div class="textTitle">诸葛理财的温馨</div>
								<div class="newCont">
									描述：我只是一名普通的用户，但是诸葛理财依然在母亲节为我的家人送上了一份温馨的祝福…
									<a href="http://mt.sohu.com/20151029/n424556869.shtml?qq-pf-to=pcqq.c2c"  class="newMore"  target="_blank">[更多]</a>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!--媒体报道end-->
			<!--合作伙伴-->
			<div id="partner">
				<div>
					<h3>合作伙伴</h3>
				</div>
				<!-- <div class="hzhblogo">
					<ul>
						<li class="pekingUniversity"></li>
						<li class="yeepay"></li>
						<li class="weChat"></li>
						<li class="gfSecurities"></li>
						<li class="pinevc"></li>
						<li class="pingAn"></li>
					</ul>
					<ul>
						<li class="PKUHKUst"></li>
						<li class="yhfund"></li>
						<li class="ChinaPay"></li>
						<li class="id5"></li>
					</ul>
				</div> -->
			</div>
			<!--合作伙伴end-->
		</div>
		<script type="text/javascript" src="https://www.zhugelicai.com/resources/js/scroll.js"></script>
		<script type="text/javascript">
			 $(document).ready(function(){
			    	$(".list_lh").Scroll({line:1,speed:100,timer:3000});//修改此数字调整滚动状态
			    });
		</script>
	

	<!--关于我们-->
	<div id="depict">
		<div class="depictcont">
			<div class="deplist">
				<p>关于我们</p>
				<a href="/about"><span>></span>诸葛演义</a> 
				<a href="/about?ref=join"><span>></span>加入我们</a>
				<a href="/about?ref=connect"><span>></span>联系我们</a> 
				<a href="/about?ref=relief"><span>></span>免责声明</a>
				<a href="/about?ref=secret"><span>></span>隐私声明</a>
				<a id='___szfw_logo___' href='https://credit.szfw.org/CX20151028012006520178.html' target='_blank'><img src='http://icon.szfw.org/cert.png' border='0' /></a>
				<script type='text/javascript'>
					(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();
				</script>
			</div>
			<div class="deplist">
				<p>安全保障</p>
				<a href="/help"><span>></span>新手指南</a> 
				<a href="/help?ref=interest"><span>></span>理财收益</a>
				<a href="/help?ref=special"><span>></span>主公特权</a>
			</div>
			<div class="deplist">
				<p>产品介绍</p>
				<a href="/product?type=daccount"><span>></span>公众号精准营销</a> 
				<a href="/product?type=maccount"><span>></span>网站注册精准营销</a> 
				<a href="/product"><span>></span>APP注册精准营销</a>
			</div>
			<div class="deplist">
				<p class="moble">客户服务</p>
				<p>18310704431</p>
				<p>董包子（微信号：easonict）</p>
				<!-- <p>孙尚香（微信号：zhugelicai02）</p> -->
				<p>服务时间:9:00~21:00</p>
			</div>
			<div class="deplist" style="  margin-right: 0px;">
				<div class="">
					<div class="wechart">“桔叶营销”官方服务号</div>
					<div class="ewcode">
						<img src="/static/img/juyeyingxiao.png" title="桔叶营销微信二维码" width='149px' height='152px'/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--关于我们end-->
	<footer>
		<div>
			<span class="copyright">Copyright © 2015 桔叶营销 版权所有
				京ICP备14061771号</span>
			<ul>
				<li><a href="/about?ref=connect">联系我们</a></li>
				<li><a href="/about?ref=relief">免责声明</a></li>
				<li><a href="/about?ref=secret">隐私声明</a></li>
			</ul>
		</div>
	</footer>
<!--
	<a href="/user/sign/signIndex" target="true"><div class="signdiv"></div></a>
-->
	
	<script src="https://www.zhugelicai.com/resources/js/bootstrap.min.js"></script>
	<script>
		var openFlag= false;
		$(function() {
			//根据点击的标签把相应的标签变红(突出显示)
			initSelectNav();
			//$('#myModal4').modal('hide');
		});

		$(".pump").on("click",function(){
			var data ={'_csrf':'4f1a02b5-5091-45e3-850a-43d6058b6881'};
			//$(".cardRule").hide();
			//$(".pos-m").show();

			$(".newCard").hide();
			$.post("/user/lottery/total",data,function(result){
				$("#lottery-total").text(result);
				if(parseInt(result) <= 0){
					$("#btn-lottery").css("background-color","#c6c6c6");
					$("#btn-lottery").removeClass("openCard");
					$("#btn-lottery").attr("data-type",result);
					$("#btn-lottery").hide();
					$("#go-invest").show();
				}
				$("#myModal4").modal("show");
			});
		})
		
		$(".links").on("click",function(){
			$("#myModal4").addClass("rotate");
			//$(".pos-m").hide();
			//$(".cardRule").show();
			
		})
		
		$(".goHistory,.redcardClose").on("click",function(){
			$("#myModal4").removeClass("rotate");
		})

		$(".openCard").on("click",function(){
			if(openFlag){
				return;
			}
			var cunTotal = $(this).data("type");
			if(parseInt(cunTotal)<=0){
				return;
			}
			openFlag=false;

			$(".cardRule").hide();
			$(".pos-m").hide();
			$("#dticket").hide();
			$("#mticket").hide();
			$(".capital").hide();
			$(".bqcard").hide();
			$("#no-lottery").hide();
			$(".sorry").hide();
			var data ={'_csrf':'4f1a02b5-5091-45e3-850a-43d6058b6881'};
			$.post("/user/lottery",data,function(result){
				if (result.state == "NONE_PROVIDED") {
					return;
				}
				if (result.result == 3) {//加息券
					$("#lottery-title").text("恭喜您获得1张加息券");
					if (result.ticketProdType == 0) {
						$("#dticket").show();
						$("#dexp-date").text("有效期:"+result.expired);
					} else {
						$("#mticket").show();
						$("#mexp-date").text("有效期:"+result.expired);
					}
				} else if (result.result == 2) {//特权本金
					$("#lottery-title").text("恭喜您获得"+result.amount+"元特权本金");
					$(".capital").show();
				} else if (result.result == 6) {//补签卡
					$("#lottery-title").text("恭喜您获得1张补签卡");
					$(".bqcard").show();
				} else if (result.result == -1) {//已经领过
				} else if (result.result == -3) {//技术党刷的
				}
				$("#open-lottery-total").text(result.total);
				$("#open-lottery").attr("data-type",result.total);
				if(parseInt(result.total) <= 0){
					$("#open-lottery").hide();
					$("#no-lottery").show();
					$(".sorry").show();
				}
				$(".newCard").show();
				openFlag=false;
			});

		})
		
		$(".redcardClose").on("click",function(){
			$("#myModal4").modal('hide');
		})
		//声明endWith方法
		String.prototype.endWith = function(str) {
			var reg = new RegExp(str + "$");
			return reg.test(this);
		}

		//根据点击的标签把相应的标签变红(突出显示)
		function initSelectNav() {
			var url = window.location.pathname;
			//href = */product?type=daccount
			//window.location.pathname = */product?type=daccount
			//window.location.href = */product?type=daccount
			
			if (url.endWith("/products")||url.indexOf("/user/product/") >= 0) {
				notIndexNav();
				$("#products").removeClass("navbut").addClass("selectNavBut");
				return;
			}

			if (url.endWith("/product")) {
				notIndexNav();
				$("#product").removeClass("navbut").addClass("selectNavBut");
				return;
			}

			if (url.endWith("/account")||url.indexOf("/user/account/") >= 0) {
				notIndexNav();
				$("#account").removeClass("navbut").addClass("selectNavBut");
				return;
			}

			if (url.endWith("/help")) {
				notIndexNav();
				$("#help").removeClass("navbut").addClass("selectNavBut");
				return;
			}

			if (url.endWith("/about")) {
				notIndexNav();
				$("#about").removeClass("navbut").addClass("selectNavBut")
			}
		}
		
		function notIndexNav(){
			$("#index").removeClass("selectNavBut").addClass("navbut");
		}
	</script>
	
	<script type="text/javascript"> 
		var browser=navigator.appName 
		var b_version=navigator.appVersion 
		var version=b_version.split(";"); 
		var trim_Version=version[1].replace(/[ ]/g,""); 
		if(browser=="Microsoft Internet Explorer" && trim_Version=="MSIE6.0") 
			{ 
			alert("为了更好的效果呈现，请使用IE9以上版本或其他浏览器！"); 
			} 
		else if(browser=="Microsoft Internet Explorer" && trim_Version=="MSIE7.0") 
			{ 
			alert("为了更好的效果呈现，请使用IE9以上版本或其他浏览器！"); 
			} 
		else if(browser=="Microsoft Internet Explorer" && trim_Version=="MSIE8.0") 
			{ 
			alert("为了更好的效果呈现，请使用IE9以上版本或其他浏览器！"); 
			} 
		//else if(browser=="Microsoft Internet Explorer" && trim_Version=="MSIE9.0") 
		//	{ 
		//	alert("IE 9.0"); 
		//	} 
</script>
</body>
</html>
