textarea{width:400px;height:300px;font-size:12px}
*{margin:0;padding:0}
body,html{background:#fafafa!important;font-family:'Microsoft Yahei'!important;-webkit-font-smoothing:antialiased;}
a{color:#333}
a:active,a:hover,a:link,a:visited{text-decoration:none!important}
#___szfw_logo___{  margin-top: 20px;}
.white{background:#fff}
.marginAuto{margin:0 auto}
.boxBorder{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.boxContent{-webkit-box-sizing:content-box!important;-moz-box-sizing:content-box!important;box-sizing:content-box!important}
.floatRight{float:right}
.floatLeft{float:left}
.linearGradient{background:-webkit-linear-gradient(10deg,#ffa4b9,#ff6488);background:-moz-linear-gradient(10deg,#ffa4b9,#ff6488)}
.bd{background:-webkit-linear-gradient(10deg,#4ecfff,#1e9bca);background:-moz-linear-gradient(10deg,#4ecfff,#1e9bca)}
.linearGradientYellow{background:-webkit-linear-gradient(10deg,#ffc74e,#e47b00);background:-moz-linear-gradient(10deg,#ffc74e,#e47b00)}
.linearGradientGray{background:-webkit-linear-gradient(10deg,#9d9d9d,#6b6b6b);background:-moz-linear-gradient(10deg,#9d9d9d,#6b6b6b)}
.clear:after{content:"";display:block;clear:both}
.chgcol{color:red}
.pageli a{color:#d41060!important}
.pagination ul>li{display:inline}
.pagination li{line-height:20px}
.pagination ul>li>a{float:left;padding:15px 12px;line-height:20px;text-decoration:none;font-size:16px}
.pagination ul>li>a:hover{color:#d52a6a}
.comm{width:1200px;margin:0 auto;background:#fff;margin-top:40px}
.yzcode{background:#fff;color:#49abdb;width:147px;height:40px;font-size:16px;border:1px solid #49abdb}
.btn-default{border-radius:0;font-size:18px;background:#49abdb;color:#fff;width:482px;height:50px;border-color:transparent}
.agr{color:#d41060}
.agr:hover{color:#d41060}
.btn-default:hover{background:#49abdb;color:#fff}
.breadcrumb{background:#fafafa;margin:2px 0;font-size:16px;border-radius:0}
.navbut.sel,.navbut:hover{color:#e15085}
.selectNavBut{color:#e15085!important}
.dropdown .dropmenu{position:absolute;z-index:999999999;padding:0;left:-36px;display:none}
.dropdown .dropmenu li{width:160px;height:50px;border:1px solid #eee;border-bottom:0;background:#fff}
.dropdown .dropmenu .horn{position:relative}
.dropdown .dropmenu .horn img{position:absolute;top:-9px;left:50%;margin-left:-7px}
.dropdown .dropmenu .ylbbor{border-bottom:1px solid #ccc!important}
.dropdown:hover .dropmenu{display:block;color:#333}
.dropmenu li:hover{color:#e15085}
.wechat,.weibo{position:relative;cursor:pointer}
.wechat .wximg,.weibo .wximg{position:absolute;z-index:99999999;right:-81px;top:20px;display:none;width:200px;height:200px}
.wechat .wbimg,.weibo a{position:absolute;z-index:99999999;left:-76px;top:20px;display:none}
.wechat:hover .wximg{display:block}
.weibo:hover a{display:block}
.hzhblogo{text-align:center;margin-top:15px}
.hzhblogo ul{width:100%;list-style:none}
.hzhblogo ul li{float:left;width:16.6%;height:55px;background:url(/static/img/partner.png) no-repeat center;}
.hzhblogo ul .pinevc{  background-position: -197px -231px;}
.hzhblogo ul .PKUHKUst{background-position: -197px -353px;margin-top:30px}
.hzhblogo ul .pekingUniversity{  background-position:-197px -20px;}
.hzhblogo ul .gfSecurities{background-position: -197px -173px;}
.hzhblogo ul .yeepay{background-position: -197px -70px;}
.hzhblogo ul .yhfund{  background-position: -197px -410px;margin-top:30px}
.hzhblogo ul .weChat{background-position: -207px -120px;}
.hzhblogo ul .pingAn{  background-position: -197px -290px;}
.hzhblogo ul .ChinaPay{background-position: -197px -455px;margin-top:30px}
.hzhblogo ul .id5{background-position: -197px -512px;margin-top:30px}
.hzhblogo ul .pinevc:hover{  background-position: 10px -231px;}
.hzhblogo ul .PKUHKUst:hover{background-position: 10px -353px;}
.hzhblogo ul .pekingUniversity:hover{ background-position: 10px -20px;}
.hzhblogo ul .gfSecurities:hover{background-position:10px -173px;}
.hzhblogo ul .yeepay:hover{background-position: 10px -70px;}
.hzhblogo ul .pingAn:hover{  background-position: 10px -289px;}
.hzhblogo ul .yhfund:hover{  background-position: 10px -410px;}
.hzhblogo ul .ChinaPay:hover{background-position: 10px -455px;}
.hzhblogo ul .id5:hover{background-position: 10px -512px;}
.hzhblogo ul .weChat:hover{background-position: 0 -120px;}
.zhaqbz{width:136px;height:36px}
header{background:#1d1d1d;width:100%;min-width:1200px}
header .headerCenter{width:1200px;height:32px;line-height:32px;margin:0 auto;font-size:16px;color:#fff}
header .headerLeft a{margin-left:20px;color:#fff}
header .headerLeft a:hover{color:#e15085}
header .headerCenter .headerLeft{float:left}
header .headerCenter .headerRight{float:right;margin-right:70px}
header .headerCenter .headerRight div{float:right}
header .headerCenter .headerRight span{margin-left:20px}
header .headerCenter .headerRight span:hover{color:#e15085;}
.nav{background:#fff;box-sizing:content-box;min-width:1200px;padding-bottom:20px}
.nav .navcont{margin:0 auto;width:1200px}
.nav .navlogo{float:left;margin-top:20px;width:245px;height:60px;background:url(/static/img/zglclogo_03.png) no-repeat center center}
.nav ul{box-sizing:content-box;padding:30px 0 0 450px}
.nav ul li{float:left;list-style:none;margin-right:50px;font-size:18px;text-align:center;line-height:40px;cursor:pointer}
footer{background:#1d1d1d;height:40px;width:100%;min-width:1200px}
footer div{width:1200px;margin:0 auto;color:#fff;padding-top:10px}
footer div span{margin-left:15px;float:left}
footer div ul{float:right}
footer div ul li{float:left;list-style:none;margin:0 15px}
footer div ul li a:hover{color:#e15085}
footer div ul li a{color:#fff}
#depict{background:#ccc;height:240px;width:100%;margin-top:34px}
#depict .depictcont{width:1200px;margin:0 auto;padding-left:3%}
#depict .depictcont .deplist{float:left;box-sizing:content-box;margin-right:70px;padding-top:20px}
#depict .depictcont .deplist span{color:#fff;margin-right:5px;font-weight:700}
#depict .depictcont .deplist p{font-size:18px;color:#333;line-height:40px;margin: 0;}
#depict .depictcont .deplist a{line-height:22px;color:#9b9999;display:block}
#depict .depictcont .deplist .wechart{background:url(/static/img/wechart.png) no-repeat left;box-sizing:content-box;padding-left:40px;font-size:18px;margin-top:7px}
#depict .depictcont .deplist .ewcode{margin:20px 0 0 56px}
.modal-content{height:300px;width:500px;text-align:center;background:#fff;border-radius:0}
.modal-content .modeal-title{line-height:40px;text-align:left;padding-left:15px;font-size:14px;background:#eee;border-bottom:1px solid #ccc}
.modal-content .modalCont{margin:50px 0;font-size:18px;color:#333}
.modal-content .modalbut button{width:120px;line-height:22px;height:38px}
.modal-content .modalbut .btn-primary{color:#fff;background:#d41060;border-radius:0;font-size:18px;border:0}
.moble{background:url(/static/img/moble.png) no-repeat left;padding-left:40px}
.modalbut{width:330px;margin:35px auto}
.modalbut button{width:120px}
.modalbut .btn-primary{margin-left:40px}
.wait-checkcode{background:#eee!important;color:#ccc!important;border:0;text-align:center}
.errorView{width:1000px;height:445px;margin:45px auto;background:#fff}
.errorView .errorTitle{line-height:60px;background:#eee;font-size:18px;padding-left:20px;border:1px solid #dbdbdb}
.errorContent{width:425px;height:200px;margin:80px auto;background:url(/static/img/404.jpg) no-repeat right bottom}
.errorContent h3{font-size:40px;color:#d41060;margin-bottom:15px}
.errorContent p{font-size:18px;margin-bottom:0}
.errorContent span{font-size:16px;color:#49abdb}
.error{display:none;color:#e15085;font-size:16px}
.form-control:focus{border-color:none;box-shadow:none}
.close{font-weight:100}
.progress-bar{background:#1e9bca}
.loginRight form .tab_css .btn-default:active{background:red}
.btnActiveRed:active{background:#d8256e!important;border:0;color:#fff!important}
.btnActiveBlue:active{background:#54b0dd!important;border:0;color:#fff!important}
.btn-default.red{color:#fff !important;background:#e1578f !important;}
.signdiv{position: fixed;top:60%; right: 0;  right: 0; background: red;cursor: pointer; width:80px; height:80px;background:url(/static/img/signdiv.png) no-repeat center;}
.pump{ position: fixed;top: 40%; right: 0;  right: 0; background: red;cursor: pointer; width:80px; height:80px;background:url(/static/img/draw.png) no-repeat center;}
.bag-popup{width:345px; height:535px;background:#fff; padding:20px;  top: 50%; left: 50%;  position: absolute; margin-left: -172px;  margin-top: -267px;  border: 1px solid #fbcf70; box-shadow: 0 0 10px rgba(251, 207,112, .5);}


.margin20Auto{ margin:20px auto; }
.bag .main-content{text-align: center;}
.bag .main-content .title{font-size:18px;text-align: center;background:url(/static/img/bag_title.png) no-repeat  bottom;line-height: 60px;}
.bag .main-content .redcardClose{position: absolute; top: 12px;  right:10px; width:15px;height:15px; background:url(/static/img/cjclose.jpg) no-repeat center;cursor: pointer;}
.bag .main-content .ta-c{ padding-top: 55px; color: #ff801a; font-size:18px;}
.bag .main-content .amount{width:144px; height:144px; margin:0 auto; background:url(/static/img/redcard.jpg) no-repeat center;}
.bag .main-content .desc{font-size:16px;}
.bag .main-content .btn{width: 130px;  background: #f25a29; height: 36px; border-radius: 0; color: #fff; margin-top:20px;}
.bag .main-content .links{ margin-top:20px;}
.bag .main-content .links a{color: #5b9fe2;}
.bag .main-content .title .goHistory{  position: absolute; top: 0; font-size: 16px;  cursor: pointer;}
.bag .main-content .title .goHistory span{color:#ccc;}
.bag .main-content .bqcard{width:106px; height:132px; background:url(/static/img/bqcard.jpg) no-repeat center;}
.bag .main-content .capital{width:143px; height:129px; background:url(/static/img/capital.jpg) no-repeat center;}
.bag .main-content .ticket{width:300px;  margin: 30px 0;}
.bag .main-content .ticket .billLeft{float:left;padding:10px; background: url(/static/img/ticket.png) 0 0 no-repeat #f685ab;background-size: 128px 96px; height: 96px; width: 128px; color:#fff;}
.bag .main-content .ticket .billLeft p{ text-align: left;margin:0;}
.bag .main-content .ticket .billLeft span{font-size:50px;}
.bag .main-content .ticket .billLeft span span{font-size:24px;}
.bag .main-content .ticket .billRight{background:#ff6699; height:96px;text-align: left; font-size: 12px; color:#fff;padding:10px;}
.bag .main-content .ticket .billRight span{display:block;  margin-left: 130px;line-height: 24px;}
.bag .main-content .ticket .billRight span:first-child{margin-top:15px;}
.bag .main-content .sorry{color:#49abdb; font-size:12px;margin:0;}
.bag .main-content .redcardCont{ margin-top: 40px;}
.bag .main-content .redcardCont p{padding: 0 10px 0 38px; text-align: left; }
.bag .main-content .redcardCont p span{margin-left:-25px;}
.pos-m,.cardRule{
	z-index:1;
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s  ease-in-out;
	-moz-transition:all .5s  ease-in-out;
	-ms-transition:all .5s  ease-in-out;
}
#myModal4.rotate .pos-m{
	z-index:1;
}
#myModal4 .pos-m{
	z-index:2;
}
#myModal4 .cardRule.bag,
#myModal4.rotate .pos-m{
	opacity:0;
	filter: alpha(opacity=0);
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
}
#myModal4.rotate .cardRule,
#myModal4 .pos-m{
	opacity:1;
	filter: alpha(opacity=100);
	transform:rotateY(0);
	-webkit-transform:rotateY(0);
	-moz-transform:rotateY(0);
	-ms-transform:rotateY(0);
}
.light {
	position: absolute; 
	left: 50%; 
	top: 50%;  
	margin-left: -350px; 
	margin-top: -350px; 
	display: block; 
	width: 700px;  
	height: 700px; 
	background-size:700px;  
	background-image: url(/static/img/bag_light.png);
    z-index: -1;
    animation: bagLight 20s linear 0s infinite;
    -webkit-animation: bagLight 20s linear 0s infinite;
    -moz-animation: bagLight 20s linear 0s infinite;
    -ms-animation: bagLight 20s linear 0s infinite;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear; 
    opacity: 1;
	filter: alpha(opacity=100);
    }

@keyframes bagLight {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* 光旋转 */
@-webkit-keyframes bagLight {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes bagLight {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes bagLight {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }











